{% extends "base.html" %} {% block title %}NOCODE ML {% endblock %} {% block
content %}

<h4 class="text-center">Bonjour</h4>
<h5>Le nombres d'articles parlant de bitcoins est corrélé avec sa valeur</h5>
<br>


<div class="row text-center">

    <div class="col-md-6">
        <div class="title">
            <h4> Valeur de bitcoin enter 2012 et 2022</h4>
        </div>
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_b2cc7"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Rates</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.MediumWidget(
    {
    "symbols": [
      [
        "Bitcoin",
        "BITSTAMP:BTCUSD|ALL"
      ]
    ],
    "chartOnly": true,
    "width": "500",
    "height": "400",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false,
    "autosize": false,
    "showVolume": false,
    "hideDateRanges": false,
    "scalePosition": "right",
    "scaleMode": "Normal",
    "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
    "noTimeScale": false,
    "valuesTracking": "1",
    "chartType": "line",
    "fontColor": "rgba(0, 255, 255, 1)",
    "gridLineColor": "rgba(216, 216, 216, 0.83)",
    "container_id": "tradingview_b2cc7"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
    </div>
    <div class="col-md-6">
        <div class="title">
            <h4> Nombres d'articles parlant bitcoin enter 2012 et 2022</h4>
        </div>
        <img src="{{url_for('static', filename='images/n_btc_articles.png')}}" alt="n_btc" class="img-fluid" width="500">
    </div>

    

</div>

<br><br><br><br><br><br><br><br>
{% endblock %}
